@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: calc(16px + 0.5vw);
}

:root {
    --system-font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --left-margin: 50px;
}

/* These variables are scoped to divs in order to allow header-font-size to be overwritten,
which is not possible with nested variables in the root. The introduction and form headers
each use different font sizes */
div {
    --header-font-size: 1rem;
    --header-font:  450 var(--header-font-size) var(--system-font-stack);
}

body {
    display: flex;
    font-family: var(--system-font-stack);
}

.image-sidebar {
    width: 37%;
    background-image: url(../images/green-leaf-plant.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;

    & .logo {
        background-color: rgb(0 0 0 / 40%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        margin: 200px 0 auto;

        & .logo-icon {
            width: 4rem;
            height: auto;
        }

        & .logo-text {
            color: #FFFFFF;
            font-family: "Norse";
            font-size: 4rem;
        }
    }

    & .photo-credit {
        color: #FFFFFF;
        font-size: 0.6rem;
        margin-bottom: 10px;

        & a:link {
            color: inherit;
        }

        & a:visited {
            color: #C2C2C2
        }
    }
}

.main-content {
    background-color: #F9FAFA;
    width: 63%;

    & .introduction-header {
        font: var(--header-font);
        margin: 130px 0 0 var(--left-margin);

        & p {
        width: clamp(45ch, 92%, 75ch);
        margin-bottom: 20px;
        }
    }

    & #sign-up-form {
        background-color: #FFFFFF;
        border-width: 1px 0px;
        border-style: solid;
        border-color: #EAF2F2;
        box-shadow:  3px 5px 5px #DDE2E2;
        margin-top: 55px;
        padding: 20px 50px;

        & .form-header {
            --header-font-size: 1.12rem;
            font: var(--header-font);
            margin-bottom: 25px;
        }

        & .field-container {
            display: flex;
            gap: 80px;
            margin-bottom: 20px;

            & .field {
                display: flex;
                flex-direction: column;
                gap: 2px;   

                & label {
                    color: #4C4C4C;
                    font: bold 0.5rem Sans-serif;
                    letter-spacing: 1.5px;
                }

                & input {
                    background-color: #FEFEFE;
                    font-size: 0.75rem;
                    border: 1px solid #E5E7EB;
                    border-radius: 5px;
                    padding: 2px 10px;

                    &:focus {
                        outline: none;
                        border-color: #0C0CF1;
                        box-shadow:  2px 2px 5px #BABBBB;
                    }

                    &[type="password"]:invalid {
                        border-color: #BC0606;
                    }
                }
            }
        }
    }

    & .confirmation-controls {
        font-size: 0.8rem;
        margin: 30px 0 0 var(--left-margin);

        & button {
            cursor: pointer;
            border: none;
            color: #FFFFFF;
            background-color: #596D48;
            font-weight: 450;
            border-radius: 8px;
            box-shadow:  3px 5px 5px #CFD2D2;
            padding: 12px 55px;
            margin-bottom: 30px;

            &:active {
                box-shadow: inset 3px 5px 5px #516342;
            }
        }

        & .log-in-prompt a {
            cursor: pointer;
            color: #596D48;
            font-weight: bold;
        }
    }
}